* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #222222;
  --primary-color: #169976;
  --on-primary-color: #e9f1f7;
  --accent-color: #745296;
  --on-accent-color: #fff;
  --green-accent: #38cc46;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
